In [ ]:
# 1. Understanding the vriables

In [1]:
# i  Rules in declaring variable names
   # I. No gap btween variale names
first name='divya' # <-- Invalid declaration

SyntaxError: invalid syntax (<ipython-input-1-eada450a7142>, line 3)

In [4]:
# valid declaration in 2 ways
first_name='divya'
firstname1='smruthi'
print(first_name)
print(firstname1)

divya
smruthi

In [5]:
# II Vriable name should not start with numbers
1name='rama' # <-- Invald declaration
print(1name)

SyntaxError: invalid syntax (<ipython-input-5-46a316350828>, line 2)

In [6]:
# Valid declaration
name1='rama'
na2me='sai'
print(name1)
print(na2me)

rama
sai

In [7]:
# III Variable name should not start with special characters
@name='lalitha' # <-- invalid declaration
print(@name)

SyntaxError: invalid syntax (<ipython-input-7-d6a6a06e026a>, line 2)

In [8]:
name$='lalitha'
name@='sai'
nam$e='anc'
print(name$)

SyntaxError: invalid syntax (<ipython-input-8-c7290587acbf>, line 2)

In [9]:
print(nam$e)

SyntaxError: invalid syntax (<ipython-input-9-7a58eae5595b>, line 1)

In [ ]:
# Introduction to Datatypes
#  1. String --> str --> Series of characters 
#  2. List --> list
#  3. Tuple --. tuple
#  4. Dictionary --> dict

In [ ]:
# Features of String

In [ ]:
#  A string is a immutable datatype.

In [1]:
# How to create a sring. 3 ways
# i. Single quotes
name1='divya'
print(name1)

divya

In [2]:
type(name1)

str

In [3]:
# ii. Double quotes
name2="divya sai"
print(name2)

divya sai

In [4]:
type(name2)

str

In [5]:
# iii. Triple Quotes
name3="""divya sai smruthi"""
print(name3)

divya sai smruthi

In [6]:
type(name3)

str

In [ ]:
# There are no such specific rules to use which quotes. It depends on developer choice.

In [ ]:
# String Methods

In [ ]:
# title case -- > Capatillizes the first letter of the word.

In [7]:
print(name1.title())

Divya

In [8]:
print(name2.title())

Divya Sai

In [10]:
print(name3.title()
     )

Divya Sai Smruthi

In [ ]:
# Upper case --> Converts all the letters of word to Upper case

In [11]:
print(name1.upper())

DIVYA

In [12]:
print(name2.upper()
     )

DIVYA SAI

In [14]:
print(name3.upper())

DIVYA SAI SMRUTHI

In [ ]:
# Lower case --> Converts all the letters of word o Lower case

In [15]:
print(name1.lower())

divya

In [16]:
print(name2.lower())

divya sai

In [17]:
print(name3.lower())

divya sai smruthi

In [ ]:
## Using the concept of 'f Strings' !! Imp for interviews

In [21]:
f_name='divya'
l_name='smruthi'
full_name=f"{f_name} sai {l_name}"
print(full_name)

divya sai smruthi

In [ ]:
# {} place holders